:root{
    --green:green;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;


}



*::selection{
    background:var(--red);
    color: midnightblue;
}
html{
    font-size: 62.51%;
    overflow-x:hidden;
}
html::-webkit-scrollbar{
    width: 1.4rem;

}
html::-webkit-scrollbar-track{
    background:red;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}
body{
    background: #1a1a1a;
    overflow-x:hidden;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width:35rem;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.1rem solid yellow;
}
header .user .name{
    font-size: 3.5rem;
    color: #eee;
}
header .navbar{
    width:100%;

}
header .navbar li{
    list-style: none;
    padding: 1rem 3rem;

}
header .navbar  li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background:#130f40;
    color: #fff;
    font-size: 3rem;
    border-radius: 5rem;
    text-align: center;
    font-weight: bolder;
}
header .navbar  li a:hover{
    background: green;
    color: white;
}
.bars{
    position: fixed;
    color: white;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 45px;
    display:none;
}

.close{
    position: fixed;
    color: white;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 45px;
    display: none;
}
.home{
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0 15rem;
    justify-content: center;
}
.home h3{
    font-size: 2.5rem;
    color: #fff;

}

.home h1{
    font-size: 4.5rem;
    color: #fff;
    
}
.success{
    color: white;
    font-size: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 78px;
}
.home h1 span{
    font-size: 5.5rem;
    color: #130f40;
    font-weight:bolder;

    
}
.success .welcome{
    margin-top: 90px;
    
}
section{
    min-height: 100vh;
    padding: 1rem;
    min-width: 2rem;

}
 .home p{
    font-size: 2rem;
    color: #eee;
    padding: 23px 0;
    
    
}
.btn{
    padding: 7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 5rem;
    border-radius: 5rem;

}
.btn img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.btn:hover{
    background: #130f40;
    color: #fff;
    font-weight: bold;

}
.info {
    display: flex;
    align-items: center;
    flex-flow: column;
    padding: 0 15rem;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    min-width: 2rem;



}
.info h3{
    padding: 23px;
    color: #fff;
    flex-direction: column;
    font-size: 23px;
    padding-right: 12px;
    text-transform: uppercase;

}

.info h3 span{
    color: white;
    background:#130f40;
}







@media(max-width:1200px){
    html{
        font-size: 55%;
        
    }
}
@media(max-width:991px){
    header{
        left: -120%;
    }
    .bars{
        position: fixed;
        color: white;
        right: 0;
        top: 0;
        cursor: pointer;
        font-size: 45px;
        display:block;
    }
    
    .close{
        position: fixed;
        color: white;
        right: 0;
        top: 0;
        cursor: pointer;
        font-size: 45px;
        display: block;
    }
    
}